[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NPM_FLAGS = "--include=dev"
  # or
  # NPM_CONFIG_PRODUCTION = "false"
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
